// Colors

// Here we define the default color scheme.
$mathbook-primary: #2a5ea4 !default;
$mathbook-secondary: #28803f !default;
$mathbook-base: #dddddd !default;

// Here we remap the parameters we get from above.
$brand-primary: $mathbook-primary;
$brand-primary-darker: darken($brand-primary, 10%);
$brand-primary-medium: lighten($brand-primary, 10%);

$brand-primary-light: change-color($brand-primary, $saturation: 100%, $lightness: 86%);
$brand-primary-lighter: change-color($brand-primary, $saturation: 90%, $lightness: 99%);

$brand-secondary: $mathbook-secondary;
$brand-secondary-light: change-color($brand-secondary, $saturation: 100%, $lightness: 92%);
$brand-secondary-lighter: change-color($brand-secondary, $saturation: 90%, $lightness: 99%);

// The base color of the interface.
// TODO maybe add support for a light/dark scheme option.
$brand-base: change-color($mathbook-base, $lightness: 87%);

// UI Colors
$ui-color-base: $brand-base;

// Knowl Colors
$knowl-color-base: $brand-primary;

// Colors for message dialogs and such.
$brand-success: #719900 !default;
$brand-warning: #b58900 !default;
$brand-danger: #d9534f !default;
$brand-info: #2aa198 !default;
