@import "typography";

// Knowl
$knowl-color-base: gray !default;

// Link colors
$knowl-link-color: saturate($knowl-color-base, 10%) !default;
$knowl-link-color-hover: saturate(darken($knowl-color-base, 10%), 10%) !default;
$knowl-link-border-radius: 3px !default;

// Border colors
$knowl-border-color: change-color($knowl-color-base, $saturation: 100%, $lightness: 92%) !default;

// Background colors
$knowl-bg-color: change-color($knowl-border-color, $saturation: 90%, $lightness: 99%) !default;
$knowl-nested-bg-color: white !default;

// Layout
$knowl-border-width: 12px !default;
$knowl-border-radius: 4px !default;
$knowl-nested-border-width: $knowl-border-width / 2 !default;
$knowl-padding: 12px !default;
$knowl-margin-bottom: 12px !default;

@mixin knowl-link(
    $color: $knowl-link-color,
    $border-color: $knowl-border-color,
    $border-radius: $knowl-link-border-radius,
    $font-type: sans-serif
) {
    $transition-duration: 0ms;
    $border-width-base: 1px;
    $border-width-hover: 2px;
    $padding-horizontal-right: 2px;
    $padding-horizontal-left: 2px;
    @if($font-type == serif) {
        $underline-offset: $typography-underline-offset-serif;
    }
    @else {
        $underline-offset: $typography-underline-offset-sans-serif;
    }

    &, &:hover, &.active {
        position: relative;
        color: $color;
        background: transparent;
        padding: 0 $padding-horizontal-right 0 $padding-horizontal-left;
        margin: 0;
        text-decoration: none;
        margin-bottom: 0;
        border-bottom: none;
        font-weight: 500;
        white-space: nowrap;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        user-select: none;
        transition-property: background-color;
        transition-duration: $transition-duration;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: $border-width-hover - $border-width-base;
            right: $padding-horizontal-right * 1.2;
            left: $padding-horizontal-left * 1.2;
            transition-property: left, right;
            transition-duration: $transition-duration;
            border-bottom: $border-width-base dotted $color;
            z-index: 0;
        }
    }

    &:hover, &:active, &.active {
        color: darken($border-color, 65%);
        background-color: lighten($border-color, 4%);
        text-decoration: none;
        margin-bottom: 0;

        &::after {
            border-bottom: $border-width-hover solid darken($border-color, 15%);
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &:active {
        color: $brand-secondary;
        background-color: $brand-secondary-light;

        &::after {
            border-color: $brand-secondary;
        }
    }

    &.active {
        background-color: $border-color;
    }
}

@mixin knowl-output(
    $bg-color: $knowl-bg-color,
    $border-width: $knowl-border-width,
    $border-color: $knowl-border-color,
    $border-radius: $knowl-border-radius,
    $margin-bottom: $knowl-margin-bottom
) {
    & {
        border-color: $border-color;
        background-color: $bg-color;
        border-radius: $border-radius;
        margin-bottom: $margin-bottom;
    }

    .knowl-footer {
        font-size: x-small;
        color: darken($border-color, 60%);
        background-color: $border-color;
    }

    .knowl-content {
        padding: 0;
        margin: $knowl-padding;
    }
}
