@import "typography";
@import "compass/css3/inline-block";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/user-interface";

// Knowl
$knowl-color-base: gray !default;

// Link colors
$knowl-link-color: saturate($knowl-color-base, 10%) !default;
$knowl-link-color-hover: saturate(darken($knowl-color-base, 10%), 10%) !default;
$knowl-link-border-radius: 3px !default;

// Border colors
$knowl-border-color: change-color($knowl-color-base,
                                  $saturation: 100%,
                                  $lightness: 92%) !default;

// Background colors
$knowl-bg-color: change-color($knowl-border-color,
                              $saturation: 90% ,
                              $lightness: 99%) !default;
$knowl-nested-bg-color: white !default;

// Layout
$knowl-border-width:12px !default;
$knowl-border-radius: 4px !default;

$knowl-nested-border-width: $knowl-border-width / 2 !default;

// $knowl-has-ragged-top: true !default;
// $knowl-ragged-top-height: 12px !default;
$knowl-padding:12px !default;
$knowl-margin-bottom: 12px !default;

@mixin knowl-link(
    $color: $knowl-link-color,
    $border-color: $knowl-border-color,
    $border-radius: $knowl-link-border-radius,
    $font-type: sans-serif
) {

}

@mixin knowl-output(
    $bg-color: $knowl-bg-color,
    $border-width: $knowl-border-width,
    $border-color: $knowl-border-color,
    $border-radius: $knowl-border-radius,
    $margin-bottom: $knowl-margin-bottom 
) {

}
