@import "../lib_extensions/ionicons-variables";

$ionicons-font-path: "ionicons/fonts";
$ionicons-font-family: "Ionicons";
$ionicons-version: "1.4.0";
// Use generic icon prefix to prevent marriage to ionicons.
$ionicons-prefix: icon-;

// Use our version of the font file. It fixes firefox cross-domain problem.
@import "../lib_extensions/ionicons-font";
