@import "../../shared/typography";
@import "../../shared/heading";
@import "../../shared/knowl";
@import "../mixins/environment";

// Environment base configuration, used for extending.
%environment-base {
    @include environment-base;
}

.definition-like {
    @extend %environment-base;
}

.theorem-like {
    @extend %environment-base;

    p, ol, ul {
        font-style: italic;
    }

    .statement {

        display: inline;

        p:first-child {
            display: inline;
        }

        &:last-child, &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.proof {
    // @davidfarmer has asked that we keep proofs separate in CSS output,
    // so we use the mixin rather than extending %environment-base.
    @include environment-base;

    $border-color: rgba(black, 0.1);
    $border-width: 0.1em;
    $padding-right: rhythm(0.5);

    & {
        @include heading-selector {
            font-style: italic;
            font-weight: normal;
            margin-right: 0.75em;
        }

        position: relative;
        border-right: $border-width solid $border-color;

        // Cut the border into the right margin
        padding-right: $padding-right;
        margin-right: -($padding-right + $border-width);

        @media screen and (max-width: $screen-md-max) {
            // Bring border out of the right margin
            margin-right: 0;
        }

        @media screen and (max-width: $screen-xs-max) {
            // Remove the border
            padding: 0;
            margin-right: 0;
            padding-top: 0;
            border-right: none;
        }
    }

    &::after {
        content: "";
        border-bottom: $border-width solid $border-color;
        display: block;
        margin-left: auto;
        // so the corner of the L meets
        margin-right: -1 * $padding-right;
        width: 1.5em;
        padding-bottom: 0.25em;
    }
}

.hiddenproof {
    // @davidfarmer has asked that we keep proofs separate in CSS output
    // so we use the mixin rather than extending %environment-base
    @include environment-base;

    & {
        @include heading-selector {
            font-style: italic;
            font-weight: normal;
            // It helps to have a little bit of extra space after proof
            margin-right: 0.25em;
        }

        position: relative;

        // Cut the border up into the top margin
        margin-top: -0.5em;
        padding-top: 0;

        @include margin-trailer(1);

        @media screen and (max-width: $screen-md-max) {
            // Bring border out of the right margin
            margin-right: 0;
        }

        @media screen and (max-width: $screen-xs-max) {
            // Remove the border
            padding: 0;
            margin-right: 0;
            padding-top: 0;
            border-right: none;
        }
    }

}

.hiddenproof a>.heading {
    margin-top: 0;
    margin-bottom: 0;
}

.remark-like {
    @extend %environment-base;
}

.listitem {
    @extend %environment-base;
}

.example-like {
    @extend %environment-base;
}

.exercise-like {
    @extend %environment-base;
}

.aside-like {
    @extend %environment-base;
}
