@import "../../shared/typography";
@import "../../shared/heading";

$figure-heading-after: ". " !default;

figure {
    & {
        @include margin-trailer;
    }

    &.wrap {
        float: right;
        margin-right: 0;
        margin-left: rhythm(1);

        img {
            width: 250px;
        }
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        &.wrap {
            float: right;
            margin: 0;
        }
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

}

figcaption {
    // We treat figcaptions just like headings
    @include heading-selector {
        @include heading-base($heading-after: $figure-heading-after);
        @include heading-force-inline;
    }

    & {
        @include adjust-font-size-to($typography-font-size-base);
        margin: 0 auto;
        padding-left: 2em;
        @include margin-leader;
    }

    &.wrap {
        margin-left: $base-half-leader;
        margin-right: $base-half-leader;
        text-align: center;
    }
}
