// Knowls live in the content module because...
//  * knowl links are in the content
//  * we alter the way content is displayed inside knowls
@import "../../shared/knowl";
@import "../../shared/zig-zag";

// Border colors at different levels of knowl-within-knowl nesting
// They get darker the further they are nested so as to draw attention
// to ones the user cared about most recently
//
// Code border colors use the same progression
// Other embedded objects should do likewise
/*
$level-1-border-color: darken($knowl-border-color, 5%);
$level-2-border-color: darken($knowl-border-color, 10%);
$level-3-border-color: darken($knowl-border-color, 15%);
*/

