// We restrict gray variables to the content module.
// The ui module should use variations of $ui-color-base
$content-gray-dark: lighten(black, 20%) !default;
$content-gray: lighten(black, 40%) !default;
$content-gray-light: lighten(black, 60%) !default;
