/// @name Triangle
/// @author Maxime Thirouin m@moox.fr @MoOx
/// @param {String} direction [top] - Can be `top`, `right`, `bottom`, `left`, or a combination of the form `top|bottom-right|left`
/// @param {String} width [1em] - The width of the base of the triangle.
/// @param {String} height [half] - The height of the median of the triangle. Can be `half` (look nice), `auto` (same as width), or a numeric value. For now, `half==auto` when positions are combined.
/// @param {String} color [black] - The color of the shape. Uses `border-color` property.
@mixin triangle($direction: top, $width: 1em, $height: half, $color: black) {
    @if ($direction == top or $direction == right or $direction == bottom or $direction == left) {
        @if ($height == half) {
            $height: $width / 2;
        }
        @else if ($height == auto) {
            $height: $width;
        }
    }
    @else if ($height == half or $height == auto) {
        $height: $width / 2;
    }
    $width: $width / 2;
    width: 0;
    height: 0;
    @if ($direction == top) {
        border-right: $width solid transparent;
        border-bottom: $height solid $color;
        border-left: $width solid transparent;
    }
    @else if ($direction == bottom) {
        border-top: $height solid $color;
        border-right: $width solid transparent;
        border-left: $width solid transparent;
    }
    @else if ($direction == left) {
        border-top: $width solid transparent;
        border-right: $height solid $color;
        border-bottom: $width solid transparent;
    }
    @else if ($direction == right) {
        border-top: $width solid transparent;
        border-bottom: $width solid transparent;
        border-left: $height solid $color;
    }
    @else if ($direction == top-left) {
        border-top: $height solid $color;
        border-right: $width solid transparent;
        border-bottom: $height solid transparent;
        border-left: $width solid $color;
    }
    @else if ($direction == top-right) {
        border-top: $height solid $color;
        border-right: $width solid $color;
        border-bottom: $height solid transparent;
        border-left: $width solid transparent;
    }
    @else if ($direction == bottom-left) {
        border-top: $height solid transparent;
        border-right: $width solid transparent;
        border-bottom: $height solid $color;
        border-left: $width solid $color;
    }
    @else if ($direction == bottom-right) {
        border-top: $height solid transparent;
        border-right: $width solid $color;
        border-bottom: $height solid $color;
        border-left: $width solid transparent;
    }
}
