@import "../../shared/typography";
@import "../../shared/heading";
@import "../../shared/knowl";

$environment-heading-font-size: $typography-font-size-h5 !default;
$environment-heading-after: "" !default;

// Default styling for environments.
@mixin environment-base {
    @include heading-selector {
        // Use default styling for headings.
        @include heading-base($heading-after: $environment-heading-after);

        // Adjust sizing of heading based on font size.
        // @include typography-heading-size($environment-heading-font-size);

        // TODO should we move links into heading-base?

        // Support anchor links in headings
        a {
            @include heading-link;
        }

        // Support knowl links in headings
        *[knowl] {
            @include knowl-link($font-type: serif);
            margin-left: -3px;
        }
    }

    // Use inline headings.
    @include heading-force-inline;

    // Add a bottom margin of one line-height.
    // @include margin-trailer(1);
}
